.table {
    margin-top: 20px;
    overflow: auto;
    height: 400px;
    background-color: white;
    color: #6a5d5d;

    &__tr:nth-of-type(odd){
        background-color: #f3f2f8;
    }

    &__tr {
        display: flex;
        justify-content: space-between;
    }


    &__td {
        padding: .5rem;
        border: none;
    }
}