.infoBox {
    flex: 1;
    cursor: pointer;
    &:not(:last-child){
        margin-right: 15px;
    }
    &--selected{
        border-top: 10px solid greenyellow;
    } &--red{
        border-color: red;
    }
    &__cases {
        color: #cc1034;
        font-weight: 600;
        font-size: 1.75rem;
        margin-bottom: 0.5rem;

        &--green {
            color: lightgreen;
        }
    }

    &__total{
        color: #6c757d;
        font-weight: 700 !important;
        font-size: 0.8rem !important;
        margin-top: 15px !important;
    }
}
